
@font-face{
  font-family: "space-mono";
  src: url("./fonts/Space_Mono/SpaceMono-Regular.ttf");
}

html, body {
  background-color: #a0dec7;
  height: 100%;
  width: 100%;
}

body{
  background-image: url('./images/pexels-pixabay-53621.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#calculator{
  height: 75%;
  border-radius: 5px;
  border-width: 5px;
  border-color: #190707;
  border-style: solid;

    
}

.calculator-button{

  background-color: #2f6e9c;
  font-family: space-mono;
  font-size: 23px;
}

.calculator-button-operation{
  background-color: #307a82;
}

#display{
  background-color: #5eb7e3;
}